body {
  font-family: sans-serif;
  font-size: 24px;
  margin: 20px 40px;
}

table {
  border-collapse: collapse;
}

th {
  background: #392269;
  color: #fff;
}

td {
  text-align: center;
  padding: 5px;
}

form {
  margin-bottom: 24px;
}

input {
  height: 28px;
}

tr:hover {
  background: #ddd;
}